
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
    if (Session["RSData"] != null)
    {
        MVCProject.Models.ResgisterShopping rs = (MVCProject.Models.ResgisterShopping)Session["RSData"];
        <div>
            <label>Id:</label>
            <input type="text" name="txtid" value="@rs.Id" readonly/>
        </div>
        <div>
            <label>Membership:</label>
            <input type="text" name="txtmem" value="@rs.Membership" />
        </div>
        <div>
            <label>Shopping Preference:</label>
            <input type="text" name="txtshop" value="@rs.ShoppingPreference" />
        </div>
        <div>
            <label>COD:</label>
            <input type="text" name="txtcod" value="@rs.COD" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="txtpass" value="@rs.Password" />
        </div>
        <div>
            <input type="submit" value="Update" />
        </div>
    }
}